html,body {
    height: 100%;
}

.container-fluid, .row {
    height: inherit;
    overflow: hidden;
 }
/* 左边菜单栏 */
.left-menu {
    position: absolute;
    /* padding: 0; */
    background-color: #FFFFFF;
    border-right: 1px solid #F6f6f6;
    /* display: inline; */
    width: 250px;
    height: 100%;

}
/* 左侧logo和新建按钮div样式 */
.left-menu .logo {
    height: 150px;
    /* padding-bottom: 2rem; */
}
.left-menu .logo .logo-img {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 20px;
    color: #75797C;
    padding-left: 1.5rem;
}
.left-menu .logo .logo-img img {
    margin-top: -5px;
}
.left-menu .logo .new-note .btn .bi {
    margin-bottom: -6px;
    margin-left: -4px;
}
.left-menu .list-group {
    border-top: 1px solid #F7F7F7;
    /* padding-top: 10px !important; */
}
.left-menu .list-group .list-group-item {
    border-radius: 0;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    color: #818183;
}
.left-menu .list-group .list-group-item .bi {
    margin-right: 1rem;
    margin-bottom: -2px;
}
/* 左侧菜单徽章数字样式 */
.left-menu .list-group .list-group-item .badge {
    /* margin-bottom: -3px; */
    /* background-color: #D7F1FF !important; */
    /* border-radius: 1rem; */
    font-weight: 300;
    font-size: xx-small;
    padding-top: 3px;
    margin-top: 4px;
    color: #98999B;
}
/* 鼠标移动到左侧某个菜单项时，徽章的样式 */
.left-menu .list-group .list-group-item:hover .badge {
    background-color: #D7F1FF !important;
    color: #619AD1;
}

.left-menu .list-group .list-group-item:hover,
.left-menu .list-group .active {
    background-color: #F4F9FF !important;
    color: #0383F4;
}


/* 右边内容区域 */
.right-container {
    margin-left: 250px;
    /* margin-top: 0; */
    /* position: fixed; */
    width: 100%;
    /* display: block; */
    padding: 0;
    background-color: #FFFFFF;
    /* box-shadow: inset 1rem -1px 1rem #F7F7F7; */
    float: right;
}
.right-container .tools {
    /* width: 100%; */
    background-color: #FBFBFB;
    /* padding-right: 2.5rem !important; */
    /* height: 90px; */
    /* box-shadow: inset 1rem -1px 1rem #F7F7F7; */
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 385px;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-style: solid;
    border-right-width: 1px;
}
.right-container .tools .input-group {
    border-radius: 1rem;
}
.right-container .tools .input-group>.input-group-prepend>.input-group-text {
    background-color: #FFFFFF;
    border-right: 0;
    border-radius: 2rem 0 0 2rem;
}

.right-container .tools .input-group .form-control {
    border-left: 0;
    border-radius: 0 2rem 2rem 0;
}
.right-container .tools .input-group .form-control:focus {
    box-shadow: 0 0 0 0;
    /* background-color: #FBFBFB; */
    border-color: #ced4da !important;

}
.right-container .review {
    height: 100%;
    position: fixed;
}
.right-container .review .row {
    height: inherit;
}
.right-container .review .right-container-note-list {
    height: inherit;
    border: 0;
    padding: 0;
    border-radius: 0;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-style: solid;
    border-right-width: 1px;
    width: 400px;
}
.right-container .review .right-container-note-list .list-group  {
    padding-left: 1rem;
}
.right-container .review .right-container-note-list .list-group .list-group-item:first-child {
    border: 0;
}
.right-container .review .right-container-note-list .list-group .list-group-item {
    border-radius: 0;
    background-color: #FFFFFF;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.right-container .review .right-container-note-list .list-group .list-group-item .note-tag {
    display: inline;
}
.right-container .review .right-container-note-list .list-group .list-group-item .note-tag .tag-text,
.right-container .review .right-container-note-list .list-group .list-group-item .publish-time {
    font-size: 10px;
    /* float: right; */
    font-weight: 100;
    padding-top: 5px;
}
.right-container .review .right-container-note-list .list-group .list-group-item .note-tag .bi-tag {
    margin-bottom: -5px;
}
.right-container .review .right-container-note-list .list-group .list-group-item .note-tag .tag-text {

}
.right-container .review .right-container-note-list .list-group .list-group-item  p {
    color: #A1A1A1;
    font-size: 12px;
    padding-top: 1rem;
}
.right-container .review .right-container-note-list .list-group .list-group-item:hover {
    background-color: #F4F9FF !important;
    cursor: pointer;
}
.right-container .review .right-container-note-list .list-group .list-group-item .title-bookmark {
    display: none;
}
.right-container .review .right-container-note-list .list-group .list-group-item:hover .title-bookmark {
    display: inline;
    color: #1790FC;
}
/* .right-container .review .right-container-note-list .list-group .list-group-item:hover .publish-time {
    display: none;
} */
.right-container .review .right-container-note-content {
    position: fixed;
    margin-left: 400px;
    /* width: 100%; */
    /* border: 0;
    padding: 1rem;
    width:inherit;
    display:block;
    white-space:normal;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0; */
    /* width: inherit; */
    /* margin-top: -18px; */
}

/* vditor编辑器样式 */
#vditor {
    border-radius: 0;
    border: 0;
    /* width: 100% !important; */
    /* overflow-x: scroll; */
    background-color: inherit;
    display: grid;
    margin-top: -56px;
}
 /* wysiwyg */
#vditor .vditor-ir {
    /* height: inherit;
    display: flex !important; */
    height: 100vh;
    /* 顶部工具栏和编辑器工具栏的高度之和 */
    padding-bottom: 60px;
}
#vditor:hover {
    background-color: #FFFFFF;
}
#vditor .vditor-content {
    /* padding-left: 1rem;
    padding-right: 1rem; */
    /* width: inherit; */
    /* height: 100vh; */
}
#vditor .vditor-toolbar {
    margin-left: 0px !important;
    padding-left: 1rem !important;
    padding-right: 1rem;
}

#vditor .vditor-toolbar--hide {
    height: 0px;
    border-bottom: 0px;
}
#vditor .vditor-reset {
    /* padding-left: 2.5rem !important;
    padding-right: 1rem !important; */
}
